---
layout: layouts/base.njk
eleventyNavigation:
  key: Anasayfa
  order: 1
  aka: anasayfa

############ Slaytlar başlangıç ############
slides:
  -
    bgimage: assets/images/banner/banner-1.jpg
    subject: Arıcılık
    h1: Taze & Doğal
    content: Organik, ikliminin en iyi koşullarında elde ediyoruz.
    aka: slide1
    link:
      text: Tıklayın
      url: http://www.bilmemne.com
      button: theme-btn-two
    link2:
      text: Mağazaya Git
      url: http://www.bilmemne.com
      button: banner-btn-one
  -
    bgimage: assets/images/banner/banner-2.jpg
    subject: Arıcılık
    h1: Taze & Doğal
    content: Organik. ikliminin en iyi koşullarında elde ediyoruz.
    aka: slide2
    link:
      text: Tıklayın
      url: http://www.bilmemne.com
      button: theme-btn-two
    link2:
      text: Mağazaya Git
      url: http://www.bilmemne.com
      button: banner-btn-one
  -
    bgimage: assets/images/banner/banner-3.jpg
    subject: Arıcılık
    h1: Taze & Doğal
    content: Organik. ikliminin en iyi koşullarında elde ediyoruz.
    aka: slide3
    link:
      text: Tıklayın
      url: http://www.bilmemne.com
      button: theme-btn-two
    link2:
      text: Mağazaya Git
      url: http://www.bilmemne.com
      button: banner-btn-one


############ Kartlar başlangıç ############
cards:
  -
    onbaslik: Alan 1
    ontext: Alan 1 için özet yazı
    arkabaslik: Alan 1 Arka
    arkatext: Alan 1 için arka detay yazısı
    linktext: tıklayın
    url: link gelecek
    bgcolor: bg-secondary
    bgimage: img/intro1.jpg
  -
    onbaslik: Alan 2
    ontext: Alan 2 için özet yazı
    arkabaslik: Alan 2 Arka
    arkatext: Alan 2 için arka detay yazısı
    linktext: tıklayın
    url: link gelecek
    bgcolor: bg-primary
    bgimage: img/intro2.jpg
  -
    onbaslik: Alan 3
    ontext: Alan 3 için özet yazı
    arkabaslik: Alan 3 Arka
    arkatext: Alan 3 için arka detay yazısı
    linktext: tıklayın
    url: link gelecek
    bgcolor: bg-tertiary
    bgimage: img/intro3.jpg


############ Hakkımızda başlangıç ############
hakkimizda:
  hakkimiz: Hakkımızda
  hakkimizkisayazi: Halen Türkiye’de toptan bal ticaretini devam ettiren firmamız, 2006 yılında Almanya’nın Berlin şehrinde bir paketleme tesisi kurarak faaliyetlerine burada devam etme kararı almıştır.
  firmatarihi: Firma Tarihi
  firmatarihikisayazi: Firmamız 1982 yılından bu yana Muğla, Marmaris, Köyceğiz ballarının Doğu Anadolu yaylalarının seçkin ballarının toptan ve perakende ticaretini yapmaktadır.
  altbaslik: Bizi Tanıyın
  baslik: Yılların verdiği deneyim ve güvenle
  button: Daha fazla
  url: /hakkimizda

############ Testimonal başlangıç ############
testimonal: Ne söylediler
testimonals:
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. Yapılan yorumlar güven açısından önemlidir. dikkate alınır
    resim: img/team/team1.jpg
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. 
    resim: img/team/team1.jpg
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. 
    resim: img/team/team1.jpg
  -
    soyleyen: Söyleyen Kişi
    meslek: Mesleği
    soylenen: Kişinin söylediği yazı buraya yazılacak. 
    resim: img/team/team1.jpg



############ İmkanlar başlangıç ############
saglananlarbaslik: Neler Sağlıyoruz
saglananlaralt : Çocuğunuz için en iyisi
saglananlarimage: img/imkanlar.jpg

urunlerimiz: Ürünlerimiz
magazaziyaret : Mağazamızı Ziyaret Edin
---

{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}

<!-- banner-section -->
<section class="banner-section style-two">
  <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
    {%- for slide in slides -%}
      <div class="slide-item">
        <div class="image-layer" style="background-image:url({{slide.bgimage}})"></div>
        <div class="auto-container">
          <div class="content-box">
            <h1>
              <label class="lang" key="{{slide.aka}}h1">{{slide.h1}}</label>
              <span class="lang" key="{{slide.aka}}subject">{{slide.subject}}</span></h1>
            <h2 class="lang" key="{{slide.aka}}content">{{slide.content}}</h2>
            <div class="btn-box">
              <a href="{{slide.link.url | url}}" class="{{slide.link.button}} lang" key="{{slide.aka}}linktext">{{slide.link.text}}</a>
              <a href="{{slide.link2.url | url}}" class="{{slide.link2.button}} lang" key="{{slide.aka}}link2text">{{slide.link2.text}}</a>
            </div>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>
<!-- banner-section end -->

<!-- feature-style-two -->
<section class="feature-style-two centred">
  <div class="auto-container">
    <div class="sec-title style-two">
      <p>Who We Are</p>
      <h2>Best features</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div class="feature-block-two">
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box">
                <i class="flaticon-flower"></i>
              </div>
              <h5>Flowers produce</h5>
              <p>Sed ut perspiciatis unde omnis natus volup</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="overlay-content" style="background-image: url(assets/images/resource/block-bg-1.jpg);">
              <div class="icon-box">
                <i class="flaticon-flower"></i>
              </div>
              <h5>Flowers produce</h5>
              <p>But I must explain to you how all thimistaken idea of denou pleas</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div class="feature-block-two">
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box">
                <i class="flaticon-bee"></i>
              </div>
              <h5>Natural Bees</h5>
              <p>Sed ut perspiciatis unde omnis natus volup</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="overlay-content" style="background-image: url(assets/images/resource/block-bg-1.jpg);">
              <div class="icon-box">
                <i class="flaticon-bee"></i>
              </div>
              <h5>Natural Bees</h5>
              <p>But I must explain to you how all thimistaken idea of denou pleas</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div class="feature-block-two">
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box">
                <i class="flaticon-hive"></i>
              </div>
              <h5>Bees seal cells</h5>
              <p>Sed ut perspiciatis unde omnis natus volup</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="overlay-content" style="background-image: url(assets/images/resource/block-bg-1.jpg);">
              <div class="icon-box">
                <i class="flaticon-hive"></i>
              </div>
              <h5>Bees seal cells</h5>
              <p>But I must explain to you how all thimistaken idea of denou pleas</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div class="feature-block-two">
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box">
                <i class="flaticon-beehive"></i>
              </div>
              <h5>Well products</h5>
              <p>Sed ut perspiciatis unde omnis natus volup</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="overlay-content" style="background-image: url(assets/images/resource/block-bg-1.jpg);">
              <div class="icon-box">
                <i class="flaticon-beehive"></i>
              </div>
              <h5>Well products</h5>
              <p>But I must explain to you how all thimistaken idea of denou pleas</p>
              <div class="link">
                <a href="index-2.html">
                  <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature-style-two end -->

<!-- about-style-two -->
<section class="about-style-two">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-6 col-md-12 col-sm-12 image-column">
        <div class="image_block_2">
          <div class="image-box">
            <figure class="image image-1"><img src="assets/images/resource/about-1.jpg" alt=""></figure>
            <figure class="image image-2"><img src="assets/images/resource/about-2.jpg" alt=""></figure>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 content-column">
        <div class="content_block_3">
          <div class="content-box">
            <div class="sec-title style-two">
              <p class="lang" key="hakkimizdaaltbaslik">{{hakkimizda.altbaslik}}</p>
              <h2 class="lang" key="hakkimizbaslik">{{hakkimizda.baslik}}</h2>
            </div>
            <div class="tabs-box">
              <div class="tab-btn-box">
                <ul class="tab-btns tab-buttons clearfix">
                  <li class="tab-btn active-btn" data-tab="#tab-1">
                    <h5 class="lang" key="firmatarihi">{{hakkimizda.firmatarihi}}</h5>
                  </li>
                  <li class="tab-btn" data-tab="#tab-2">
                    <h5 class="lang" key="hakkimiz">{{hakkimizda.hakkimiz}}</h5>
                  </li>
                </ul>
              </div>
              <div class="tabs-content">
                <div class="tab active-tab" id="tab-1">
                  <div class="inner-box">
                    <div class="inner">
                      <figure class="image-box"><img src="assets/images/resource/about-3.jpg" alt=""></figure>
                      <div class="text">
                        <p class="lang" key="firmatarihikisayazi">{{hakkimizda.firmatarihikisayazi}}</p>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="{{hakkimizda.url | url}}" class="theme-btn-two lang" key="hakkimizdabuton">{{hakkimizda.button}}</a>
                    </div>
                  </div>
                </div>
                <div class="tab" id="tab-2">
                  <div class="inner-box">
                    <div class="inner">
                      <figure class="image-box"><img src="assets/images/resource/about-3.jpg" alt=""></figure>
                      <div class="text">
                        <p class="lang" key="hakkimizkisayazi">{{hakkimizda.hakkimizkisayazi}}</p>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="{{hakkimizda.url | url}}" class="theme-btn-two lang" key="hakkimizdabuton">{{hakkimizda.button}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about-style-two end -->

<!-- shop-section -->
<section class="shop-section alternat-2 centred">
  <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-4.png);"></div>
  <figure class="image-layer"><img src="assets/images/resource/bee-3.png" alt=""></figure>
  <div class="auto-container">
    <div class="sec-title style-two centred">
      <p class="lang" key="magazaziyaret">{{magazaziyaret}}</p>
      <h2 class="lang" key="urunlerimiz">{{urunlerimiz}}</h2>
    </div>
    <div class="row clearfix">
      {% set products = collections.Urunler %}
      {%- for pro in products -%}
        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
          <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="inner-box">
              <figure class="image-box">
                <a href="{{pro.url | url}}"><img src="{{pro.data.image | url}}" alt="{{pro.data.title}}"></a>
              </figure>
              <div class="lower-content">
                <h5 style="margin-top:20px">
                  <a href="{{pro.url | url}}">{{pro.data.title}}</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="more-btn">
      <a href="{{collections.urunler[0].url | url}}" class="theme-btn-two lang" key="tumurunler">Tüm Ürünleri Göster</a>
    </div>
  </div>
</section>
<!-- shop-section end -->

<!-- feature-style-three -->
<section class="feature-style-three">
  <div class="auto-container">
    <div class="row align-items-center clearfix">
      <div class="col-lg-4 col-md-12 col-sm-12 content-column">
        <div class="content_block_4">
          <div class="content-box">
            <div class="sec-title style-two">
              <p>Core Features</p>
              <h2>Making honey is a complex and unique process</h2>
            </div>
            <div class="text">
              <p>Sed ut perspiciatis unde omnis iste natus volup tatem accusantium doloremque laudant totams reperiam, eaque ipsa quae ab illo inventorety veritatis et qrchitecto beatae vitae
              </p>
            </div>
            <ul class="list-item clearfix">
              <li>One Of Ther Best Honey Providers</li>
              <li>How To Create A Mobile App In Expoerise</li>
              <li>Learning Resources Challenging Times</li>
            </ul>
            <div class="btn-box">
              <a href="index-2.html" class="theme-btn-two">visit our shop</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
        <div class="feature-column">
          <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
              <div class="feature-block-three small-block clearfix wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                  <div class="icon-box">
                    <i class="flaticon-bee-2"></i>
                  </div>
                  <h3>Honeycomb</h3>
                  <p>Sed perspiciatis unde omnis iste natus error volup</p>
                </div>
              </div>
              <div class="feature-block-three wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="inner-box">
                  <div class="icon-box">
                    <i class="flaticon-bee-3"></i>
                  </div>
                  <h3>100% Natural Bees</h3>
                  <p>But must explain to you how this mistaken idea of denounci pleasure and praising pain was born</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 feature-block">
              <div class="feature-block-three wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                  <div class="icon-box">
                    <i class="flaticon-honey"></i>
                  </div>
                  <h3>well beekeeping</h3>
                  <p>Quis autem vel eum iure reprehende qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum</p>
                </div>
              </div>
              <div class="feature-block-three small-block wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="inner-box">
                  <div class="icon-box">
                    <i class="flaticon-honey-1"></i>
                  </div>
                  <h3>fresh & orginals</h3>
                  <p>Nor again is there anyone who loves or pursues or desires</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature-style-three end -->

<!-- video-section -->
<section class="video-section">
  <div class="auto-container">
    <div class="video-inner" style="background-image: url(assets/images/background/video-1.jpg);">
      <div class="video-content">
        <div class="inner">
          <div class="count-outer count-box">
            <span class="count-text" data-speed="1500" data-stop="600">0</span>
          </div>
          <h3>Happy Clients</h3>
        </div>
      </div>
      <div class="video-btn">
        <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image video-btn" data-caption="">
          <i class="fas fa-play"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- video-section end -->

<!-- working-process -->
<section class="working-process centred">
  <div class="auto-container">
    <div class="sec-title light style-two centred">
      <p>Working Process</p>
      <h2>how dose we works</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-6 col-sm-12 process-block">
        <div class="process-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <span class="count-text">01</span>
            <div class="icon-box">
              <i class="flaticon-honey-3"></i>
            </div>
            <h3>Choose beekeeping</h3>
            <p>But I must explain to you how this mistaken idea of denouncing pleasure and praising pain was born</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 process-block">
        <div class="process-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <span class="count-text">02</span>
            <div class="icon-box">
              <i class="flaticon-honey-2"></i>
            </div>
            <h3>Selected Bees</h3>
            <p>But I must explain to you how this mistaken idea of denouncing pleasure and praising pain was born</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 process-block">
        <div class="process-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <span class="count-text">03</span>
            <div class="icon-box">
              <i class="flaticon-honey-4"></i>
            </div>
            <h3>got well product</h3>
            <p>But I must explain to you how this mistaken idea of denouncing pleasure and praising pain was born</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- working-process end -->

<!-- testimonial-section -->
<section class="testimonial-section alternat-2">
  <div class="auto-container">
    <div class="sec-title style-two">
      <p class="lang" key="sizdengelenler">Sizlerden Gelenler</p>
      <h2 class="lang" key="nedediler">Ne söylediler?</h2>
    </div>
    <div class="testimonial-inner">
      <div class="single-item-carousel owl-carousel owl-theme">
        {%- for say in testimonals -%}
          <div class="testimonial-block-one">
            <div class="inner-box">
              <figure class="author-thumb"><img src="assets/images/resource/testimonial-3.png" alt=""></figure>
              <div class="text">
                <p><img src="assets/images/icons/arrow-1.png" alt="">{{say.soylenen}}</p>
              </div>
              <div class="author-info">
                <h4>{{say.soyleyen}}</h4>
                <span class="designation">{{say.meslek}}</span>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
<!-- testimonial-section end -->

<!-- subscribe-section -->
<section class="subscribe-section">
  <div class="outer-container">
    <div class="subscribe-inner">
      <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-5.png);"></div>
      <div class="content-box">
        <div class="sec-title style-two centred">
          <p>Get More Updates</p>
          <h2>subscribe newsletters</h2>
        </div>
        <div class="text centred">
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
            <br/>born and I will give you a complete account of the system, and expound</p>
        </div>
        <form action="index-2.html" method="post" class="subscribe-form">
          <div class="form-group">
            <input type="email" name="email" placeholder="Enter Your Emaill Address" required="">
            <button type="submit" class="theme-btn-two">subscribe now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- subscribe-section end -->

<!-- news-section -->
<section class="news-section sec-pad">
  <div class="auto-container">
    <div class="sec-title">
      <p>Reads Our Articles</p>
      <h2>Latest news & blog</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box">
              <a href="blog-details.html"><img src="assets/images/news/news-1.jpg" alt=""></a>
            </figure>
            <div class="lower-content">
              <h5>
                <a href="blog-details.html">Smashing Podcast Episo With Mina Markham How Can I Learn React Which Video Conferencie Tools Are Most Accessibls</a>
              </h5>
              <ul class="post-info clearfix">
                <li>
                  <i class="far fa-calendar-alt"></i>30 Aug 2020</li>
                <li>
                  <i class="far fa-comment"></i>
                  <a href="index.html">Com (05)</a>
                </li>
              </ul>
              <div class="link">
                <a href="blog-details.html">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box">
              <a href="blog-details.html"><img src="assets/images/news/news-2.jpg" alt=""></a>
            </figure>
            <div class="lower-content">
              <h5>
                <a href="blog-details.html">Building A Facial Recognition Web Application With React How Can I Learn React Which Video Tools Are Most Accessibls</a>
              </h5>
              <ul class="post-info clearfix">
                <li>
                  <i class="far fa-calendar-alt"></i>29 Aug 2020</li>
                <li>
                  <i class="far fa-comment"></i>
                  <a href="index.html">Com (06)</a>
                </li>
              </ul>
              <div class="link">
                <a href="blog-details.html">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 news-block">
        <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <figure class="image-box">
              <a href="blog-details.html"><img src="assets/images/news/news-3.jpg" alt=""></a>
            </figure>
            <div class="lower-content">
              <h5>
                <a href="blog-details.html">Mirage JS Deep Dive Understan ding Timing, Response And Pass rough (Part 3)Can I Learn eact Tools Are Most Accessibls</a>
              </h5>
              <ul class="post-info clearfix">
                <li>
                  <i class="far fa-calendar-alt"></i>28 Aug 2020</li>
                <li>
                  <i class="far fa-comment"></i>
                  <a href="index.html">Com (02)</a>
                </li>
              </ul>
              <div class="link">
                <a href="blog-details.html">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- news-section end -->

<!-- clients-section -->
<section class="clients-section alternat-2">
  <div class="auto-container">
    <div class="auto-container">
      <div class="clients-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
        <figure class="clients-logo-box">
          <a href="index.html"><img src="assets/images/clients/clients-logo-1.png" alt=""></a>
        </figure>
        <figure class="clients-logo-box">
          <a href="index.html"><img src="assets/images/clients/clients-logo-2.png" alt=""></a>
        </figure>
        <figure class="clients-logo-box">
          <a href="index.html"><img src="assets/images/clients/clients-logo-3.png" alt=""></a>
        </figure>
        <figure class="clients-logo-box">
          <a href="index.html"><img src="assets/images/clients/clients-logo-4.png" alt=""></a>
        </figure>
        <figure class="clients-logo-box">
          <a href="index.html"><img src="assets/images/clients/clients-logo-5.png" alt=""></a>
        </figure>
        <figure class="clients-logo-box">
          <a href="index.html"><img src="assets/images/clients/clients-logo-6.png" alt=""></a>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- clients-section end -->